/* GRADIENTE

background-image: radial-gradient(circle at 58.11% 96.02%, #e4f894 0, #e8ee83 10%, #ece272 20%, #eed460 30%, #f1c54e 40%, #f2b53c 50%, #f3a42c 60%, #f69321 70%, #f8811d 80%, #fb6f1f 90%, #fd5c26 100%); */
/* background: linear-gradient(135deg,#FAD961,#F76B1C); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans+Thai+Looped:wght@300;400;700&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(rgba(248, 139, 12, 1),rgba(248, 182, 12, 0));
}
a {
    text-decoration: none;
    color: white;
}
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
  padding: 30px 30px 10px 30px;
}

.header-logo {
  grid-area: 1/1/2/2;
}
.img-logo {
  width: 35%;
}
.header-texto {
  grid-area: 1/2/2/4;
  align-self: center;
  text-align: center;
}

.header-title{
    letter-spacing: 3px;
    color: #E6D6D6;
}

.header-subtitle {
  margin-top: 15px;
  letter-spacing: 5px;
  color: #E6D6D6;
}

/* SECTION TEXT */

.section-text {
  width: 70%;
  padding: 10px 80px;
  margin: 0 auto;
}

.section-parrafo{
    font-size: 13px;
    color: #f4dfdf;
}
.text-one {
  margin-top: 10px;
}

.section-text p {
  text-align: center;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 0.9rem;
}

/* MAIN */

.main {
  width: 70%;
  height: auto;
  margin: 0 auto;
 /*  border: 1px solid green; */
  padding: 10px;
}

.container-article{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.article-one {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  border: 3px solid #FFB359
}

.text-card {
  align-self: end;
  margin-bottom: 10px;
  /* margin-top: 110px; */
}

.title-card {
  text-align: center;
  margin-bottom: 8px;
  color: #797979;
  font-weight: 600;
}

.semicirculo{
  width: 99%;
}

.picture{
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.imagen{
  width: 65%;
}

.list {
  list-style: none;
  text-align: center;
  line-height: 1.5;
  font-size: 0.7rem;
}

.container-circle {
  display: flex;
  justify-content: center;
}

.img-elipse {
  width: 250px;
  margin-top: -37px;
  height: 200px;
}

.circle {
  width: 125px;
  height: 125px;
  background-color: #ffb359;
  border-radius: 50%;
  margin-top: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  padding: 8px 15px;
  background-color: #f88b0c;
  margin: 0 auto;
  font-size:15px;
  width: 50%;
  border-radius: 8px;
  font-weight: bold;
}




/* MEDIA QUERY */

@media screen and (max-width: 480px) {
  .header {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .header-title{
    letter-spacing: 3px;
    margin-top: 20px;
}

.header-subtitle {
  margin-top: 25px;
 
}

/* SECTION TEXT */

.section-text {
  width: 80%;
  padding: 10px 10px;
}

.section-parrafo{
    font-size: 10px;
    color: rgb(103, 103, 103);
}


/* MAIN */

.main {
  width: 100%;
  /* border: 1px solid green; */
}


.container-article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 270px;
    /* border: 1px solid black; */
    margin: 0 auto;
  
}

.article-one {
  width: 100%;
  height: 400px;
  margin-top: 30px

}

.picture{
  margin-top: -110px;

}

.title-card {
  font-size: 20px;
}

.list {
  font-size: 1rem;
}

.button {
  font-size:20px;
  width: 70%;
  font-weight: 600;
}

}

